div.fepage-header {
    background: url("../image-blog/message2.png");
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: url("../images/background.jpg") fixed;
    font-size: 12pt;
    font-family: Tahoma, serif;
    color: #000618;
    margin: 0; padding: 0;
}

div.fepage-header > h1 {
    font-size: 2.2em;
    color: #fcfffa;
    text-shadow: 0 0 5px #000000;
    margin: -60px;
}

div.page-header {
    height: 125px;
    padding-top: 75px;
    text-align: center;
}




div.menu {
    font-size: larger;
    padding: 8px;
    border-bottom: 2px solid #9C8968;
    text-align: center;
}

div.content > div {
    width: 900px; min-height: 500px;
    margin: 0 auto; padding: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 45px #616161;
    background-color: #e7e7e7;
}

div.page-content {
    padding-bottom: 20px;
    text-align: center;
}

div.page-bottom {
    height: 50px;
    padding-top: 20px;
    background-color: #9C8968;
    text-align: center;
    font-weight: bold;
}

img {
    width: 420px;
    height: 310px;
}

.pho {
    text-align: center;
    padding: 20px;
}

a {
    color: #0b06e2;
}

i {
    color: red;
}

input, textarea {
    text-align: center;
}