body {
    background: url("../images/background.jpg") fixed;
    font-size: 12pt;
    font-family: Tahoma, serif;
    color: #000618;
    margin: 0; padding: 0;
}

div.page-header {
    height: 125px;
    padding-top: 75px;
    text-align: center;
}

div.page-header > h1 {
    margin: -70px;
    padding-left: 44px;
}

div.menu {
    font-size: larger;
    padding: 8px;
    border-bottom: 2px solid #9C8968;
    text-align: center;
}

div.content > div {
    width: 900px; min-height: 500px;
    margin: 0 auto; padding: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 45px #4c4c4c;
    background-color: #e7e7e7;
}

div.page-content {
    padding: 10px;
    border-bottom: 2px solid #9C8968;
}

div.page-bottom {
    color: #fcfffa;
    height: 121px;
    padding-top: 20px;
    background-color: #5c5c5c;
    text-align: center;
    font-weight: bold;
}

.table {
    width: 100%;
}

.table tr td {
    padding: 3px;
}

.table.table-stripped tr:nth-child(odd) {
    background-color: #bec6bb;
    transition: 500ms;
}

.table.table-stripped tr:hover {
    background-color: #f5c207;
    transition: 500ms;
}

#ta {
    margin: 10px 70px
}

.modal {
    position: fixed;
    top: 50%; left: 50%;
    width: 210px; height: 250px;
    margin-left: -110px; margin-top: -200px;
    padding: 10px; border-radius: 10px;
    box-shadow: 0 0 77px #5d5d5d;
    background: rgba(255,255,255,0.95);
}

.modal div:first-child {
    text-align: center;
}

.modal span {
    font-family: Verdana, SansSerif;
    position: absolute;
    top: 2px; right: 7px;
    color: #0b06e2;
    cursor: pointer;
}

.modal div.m_body form input[type="text"],
.modal div.m_body form input[type="password"] {
    padding: 5px;
    margin-top: 9px;
    width: 94%;
    border-radius: 3px;
    outline: none;
    border: 1px solid #d2d2d2;
}

.modal div.m_body form input[type="text"]:focus,
.modal div.m_body form input[type="password"]:focus {
    box-shadow: 0 0 6px #8bcdff;
}

input.btn {
    padding: 5px;
    border: 1px solid #efefef; border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}