div.mainpage-header {
    background: url("../image-blog/main.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.mainpage-header > h1 {
    font-size: 2.2em;
    color: #fff;
    text-shadow: 0 0 15px #000000;
}

#a {
    font: 30px SansSerif;
    border-bottom: 2px solid #000618;
    font-weight: bolder;
    margin: 43.5%;
}

.main {
    text-align: center;
    font-style: italic;
}

.h {
    text-align: center;
    text-decoration: black underline;
}

.about {
    font-size: 18px;
    margin: 35px;
}

.zen {
    font-style: normal;
    text-align: center;
    margin: 0px;
}

.catt {
    width: 300px;
    height: 200px;
}

.cra {
    text-align: center;
    padding: 20px;
}

a.hr {
    color: #ffa618;
}

a {
    color: #0b06e2;
}

.if {
    padding-bottom: 30px;
    border: 2px solid #9C8968;
}

#block1 {
    float: left;
    display: block;
    width: 402px;
    height: 300px;
    margin: 22px;
    box-shadow: 0 0 45px #4c4c4c;
}

#block2 {
    float: right;
    display: block;
    width: 402px;
    height: 300px;
    margin: 22px;
    box-shadow: 0 0 45px #4c4c4c;
}

#block3 {
    float: left;
    display: block;
    width: 402px;
    height: 360px;
    margin: 22px;
    text-align: center;
    box-shadow: 0 0 45px #4c4c4c;
}

#block4 {
    text-align: center;
    float: right;
    display: block;
    width: 402px;
    height: 340px;
    margin: 22px;
    padding-top: 20px;
    box-shadow: 0 0 45px #4c4c4c;
}

h2 {
    margin: 5px;
}

.fcat {
    padding-top: 0px;
}

.wee {
    text-align: center;
    width: 330px;
    height: 330px;
}

.di {
    height: 830px;
    border-bottom: 2px solid #9C8968;

}

.fr {
    width: 340px;
    height: 200px;
    margin-top: 20px;
}

.registr1 div {
    font-size: larger;
    color: #0b06e2;
    font-weight: bolder;
    margin-top: -6px;
    margin-right: 5px;
    padding: 5px;
    width: 48%;
    display: inline-block;
}

.logIn {
    text-align: end;
}

.im {
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: -8px;
    width: 27px;
    height: 27px;
}