div.mainpage-header {
    background: url("../image-blog/main.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.mainpage-header > h1 {
    font-size: 2.2em;
    color: #fff;
    text-shadow: 0 0 15px #000000;
}

#a {
    font: 30px SansSerif;
    border-bottom: 2px solid #000618;
    font-weight: bolder;
    margin: 43.5%;
}

.main {
    text-align: center;
    font-style: italic;
}

.h {
    text-align: center;
    text-decoration: black underline;
}

.about {
    font-size: 18px;
    margin: 35px;
}

.zen {
    font-style: normal;
    text-align: center;
    margin: 0px;
}

.catt {
    width: 300px;
    height: 200px;
}

.cra {
    text-align: center;
    padding: 20px;
}

a.hr {
    color: #ffa618;
}

a {
    color: #0b06e2;
}

.if {
    padding-bottom: 30px;
    border-bottom: 2px solid #9C8968;
}

#block1 {
    float: left;
    display: block;
    width: 440px;
    height: 300px;
    margin: 4px;
}

#block2 {
    float: right;
    display: block;
    width: 440px;
    height: 300px;
    margin: 4px;
}

h2 {
    margin: 5px;
}

.fat {
    text-align: center;
    border-bottom: 2px solid #9C8968;
    padding: 20px;
}

.fcat {
    padding-top: 20px;
}