div.mainpage-header {
    background: url("../image-blog/main.png");
    background-position: center;
    background-repeat: no-repeat;
}

div.mainpage-header > h1 {
    font-size: 2.2em;
    color: #fff;
    text-shadow: 0 0 15px #000000;
}

#a {
    font: 30px SansSerif;
    border-bottom: 2px solid #000618;
    font-weight: bolder;
    margin: 43.5%;
}

.main {
    text-align: center;
    font-style: italic;
}

.h {
    text-align: center;
    text-decoration: black underline;
}

.about {
    font-size: 18px;
    margin: 35px;
}

.zen {
    font-style: normal;
    text-align: center;
}

.catt {
    width: 450px;
    height: 300px;
}

.cra {
    text-align: center;
    padding: 20px;
}

a.hr {
    color: #ffa618;
}