@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Neucha');
@import url('https://fonts.googleapis.com/css?family=Chango');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

nav a {
    font: 16px SansSerif;
    color: #0b06e2
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

.dot {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

#dot {
    font-family: 'Neucha', cursive;
    font-size: 30px;
}

[type="submit"] {
    font-family: 'Chango', cursive;
    font-size: 15px;
}

.do {
    font-family: 'Lobster', cursive;
    font-size: 55px;
    text-align: center;
}

#sl {
    font-family: "Neucha", cursive;
    font-size: 30px;
}

footer {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #fcfdfd;
}

.d {
    font-family: 'Istok Web', sans-serif;
    font-size: 25px;
}


